In [23]:
import regex as re
import numpy as np
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
from selenium.webdriver.chrome.options import Options

In [13]:
chrome_options = Options()
chrome_options.add_argument("--headless")
chrome_options.add_argument("--window-size=1920x1080")

chrome_driver = "F:\Web-Crawling-main\chromedriver.exe"

In [14]:
driver = webdriver.Chrome(executable_path=chrome_driver,chrome_options=chrome_options)

<ipython-input-14-d7cbfac7c0bc>:1: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome(executable_path=chrome_driver,chrome_options=chrome_options)

In [26]:
pages=[str(x) for x in range(1,2)]
names,prices,rating,links,total=[],[],[],[],[]
p_c=0
for p in pages:
    p_c+=1
    print(p_c)
    api=f"file:///C:/Users/H%20A%20M%20Z%20A/Downloads/sample.html"
    driver.get(api)
    html=driver.execute_script('return document.documentElement.outerHTML')
    data=BeautifulSoup(html,'html.parser')
    for value in data.findAll('table',{'class':'pedigreetable'}):
        for fval in value.findAll('tr'):
            for val in fval.findAll('td',{'class':'m'}):
                   names.append(val.text)
            for val in fval.findAll('td',{'class':'f'}):
                   names.append(val.text)

1

In [27]:
len(names)

158

In [25]:
names

['PIERRO (AUS) b. 2009 (27)14-11-2-1A$4,536,650',
 'LONHRO (AUS) br. 1998 (27)35-26-3-2A$5,790,510',
 'OCTAGONAL (NZ) br. 1992 (69.86)28-14-7-1A$5,892,231',
 'ZABEEL (NZ) b. 1986 (78.53)',
 'SIR TRISTRAM (IRE)',
 ' b. 1971 ',
 '6-e',
 '',
 'LADY GISELLE (FR)',
 ' b. 1982 ',
 '16-c',
 '',
 'PIECES OF EIGHT (IRE)',
 ' br. 1963 ',
 '3-o',
 '',
 'EIGHT CARAT (GB)* blk. 1975',
 'KLAIRESSA (GB)',
 ' dkb/br. 1969 ',
 '9-c',
 '',
 'STRAIGHT STRIKE (USA) b. 1977 (45)',
 'MR. PROSPECTOR (USA)',
 ' b. 1970 [BC]',
 '13-c',
 '',
 'SHADEA (NZ) br. 198820-2-4-2A$226,26612 f, 8 r, 7 w, 3 SW',
 'BEND NOT (USA)',
 ' b. 1972 ',
 '11',
 '',
 'FIRST CONSUL (USA)',
 ' b. 1970 ',
 '5-f',
 '',
 'CONCIA (NZ) b. 1978',
 'MY TRICIA (NZ)',
 ' br. 1974 ',
 '8',
 '',
 'DAYLAMI (IRE) gr. 1994 (67.08)21-11-3-4$3,614,762',
 'DOYOUN (IRE) br. 1985 (56.06)',
 'MILL REEF (USA)',
 ' b. 1968 [CS]',
 '22-d',
 '',
 'MISS RIGHT NOTE (IRE) gr. 20036-1-2-0€27.350 in Fr2 SW',
 'DUMKA (FR)',
 ' b. 1971 *',
 '21-a',
 '',
 'MISWAKI (USA)',
 ' ch. 1978 ',
 '16-g',
 '',
 'DALTAWA (IRE)* gr. 1989',
 'DAMANA (FR)',
 ' gr. 1981 ',
 '9-e',
 '',
 'SADLERS WELLS (USA) b. 1981 [CS] (77.56)',
 'NORTHERN DANCER (CAN)',
 ' b. 1961 [BC]',
 '2-d',
 '',
 'SKY SONG (IRE) b. 19976-0-1-1€8,842',
 'FAIRY BRIDGE (USA)',
 ' b. 1975 *',
 '5-h',
 '',
 'SHIRLEY HEIGHTS (GB)',
 ' b. 1975 [CP]',
 '1-l',
 '',
 'CRIQUETTE (GB) b. 1990',
 'GHISLAINE (USA)',
 ' gr. 1981 ',
 '1-t',
 '',
 'VOLKSRAAD (GB) b. 1988 (45)3-2-0-1£20,2911106 f, 966 r, 651 w, 64 SW',
 'GREEN DESERT (USA) dkb/br. 1983 (71.68)14-5-4-1$322,9671235 f, 1031 r, 747 w, 101 SW',
 'DANZIG (USA) b. 1977 [IC] (82.42)',
 'NORTHERN DANCER (CAN)',
 ' b. 1961 [BC]',
 '2-d',
 '',
 'MAPMAKER (NZ) b. 200816-2-2-2NZ$27,050',
 'PAS DE NOM (USA)',
 ' br. 1968 ',
 '7-a',
 '',
 'SIR IVOR (USA)',
 ' b. 1965 [IC]',
 '8-g',
 '',
 'FOREIGN COURIER (USA) b. 1979',
 'COURTLY DEE (USA)',
 ' dkb/br. 1968 *',
 'A4',
 '',
 'SECRETARIAT (USA) ch. 1970 [IC] (70.91)',
 'BOLD RULER (USA)',
 ' dkb/br. 1954 [BI]',
 '8-d',
 '',
 'CELTIC ASSEMBLY (USA) b. 198114-1-3-2$11,041 in GB',
 'SOMETHINGROYAL (USA)',
 ' b. 1952 *',
 '2-s',
 '',
 'WELSH SAINT (IRE)',
 ' b. 1966 ',
 '9-h',
 '',
 'WELSH GARDEN (IRE) b. 1973',
 'GARDEN OF EDEN (IRE)',
 ' b. 1967 ',
 '10-c',
 '',
 'DANSKE (NZ) b. 1995 (27)13-4-4-1NZ$299,688',
 'DANEHILL (USA) b. 1986 (82.41)',
 'DANZIG (USA)',
 ' b. 1977 [IC]',
 '7-a',
 '',
 'STRAIGHT EIGHT (NZ) b. 200019-3-2-2$30,495 (NZ)1 SW',
 'RAZYANA (USA)',
 ' b. 1981 ',
 '2-d',
 '',
 'SIR TRISTRAM (IRE)',
 ' b. 1971 ',
 '6-e',
 '',
 'OUR TRISTALIGHT (NZ) gr. 1989',
 'TUDOR LIGHT (NZ)',
 ' gr. 1972 ',
 '5-d',
 '',
 'STRAIGHT STRIKE (USA) b. 1977 (45)',
 'MR. PROSPECTOR (USA)',
 ' b. 1970 [BC]',
 '13-c',
 '',
 'STRAIGHT LINE (NZ) b. 19867-5-0-0$45,1501 SW',
 'BEND NOT (USA)',
 ' b. 1972 ',
 '11',
 '',
 'SKY DIVER (IRE)',
 ' b. 1963 ',
 '29',
 '',
 'LITTLE NELL (AUS) b. 1977',
 'HANELLE (AUS)',
 ' br. 1971 ',
 '4-b',
 '']